---
import { Icon } from "astro-icon/components";
import PostPreview from "../components/PostPreview.astro";
import PostContent from "../components/PostContent.astro";

import blog from "../data/blog.js";
---

<div class="blog absolute" id="blog-page" style="visibility: hidden;">
  <div
    class="flex items-center justify-center max-w-screen max-h-screen w-screen h-screen bg-white"
    style="background-image: url(/bg/2767258.avif);  background-repeat: no-repeat; background-size: cover; background-position: top center;
          transform-origin: right top;"
  >
    <div
      id="card-blog"
      style="filter: drop-shadow(0 5px 5px #000); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuXzR4S2lCcSIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgd2lkdGg9IjY1IiBoZWlnaHQ9IjY1IiBwYXR0ZXJuVHJhbnNmb3JtPSJyb3RhdGUoNDUpIj48bGluZSB4MT0iMCIgeT0iMCIgeDI9IjAiIHkyPSI2NSIgc3Ryb2tlPSIjQ0M5Q0RGIiBzdHJva2Utd2lkdGg9IjMwIi8+PC9wYXR0ZXJuPjwvZGVmcz4gPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNwYXR0ZXJuXzR4S2lCcSkiIG9wYWNpdHk9IjAuMjUiLz48L3N2Zz4=');"
      class="overflow-y-scroll min-h-[80vh] w-11/12 lg:w-288 px-4 py-4 lg:p-8 flex flex-col gap-y-2 items-center bg-white z-10 rounded border-[#EA428B] border-[8px]"
    >
      <Icon
        name="mdi:close"
        class="z-50 close absolute lg:top-4 lg:left-4 top-2 left-2 text-4xl lg:text-6xl text-[#132248] cursor-pointer hover:bg-[#CC9CDF] rounded duration-300"
      />
      <div class="flex flex-col-reverse gap-y-6 z-10" id="posts">
        {
            blog.map(b => <PostPreview {...b} />)
        }
      </div>
      <PostContent />
    </div>
  </div>
</div>

<style lang="scss">
  @keyframes profile-page__jump {
    0% {
      transform: scale(0) rotate(-1deg);
    }
    50% {
      transform: scale(1.2) rotate(-1deg);
    }
    100% {
      transform: scale(1) rotate(-1deg);
    }
  }

  @keyframes profile-page__jump-card {
    0% {
      transform: scale(0) rotate(-1deg);
    }
    50% {
      transform: scale(1.1) rotate(-1deg);
    }
    100% {
      transform: scale(1) rotate(-1deg);
    }
  }
</style>
